OANDA_API_KEY=your_oanda_api_key_here
OANDA_ACCOUNT_ID=your_oanda_account_id_here
OANDA_ENV=practice
FINNHUB_API_KEY=your_finnhub_api_key_here
EMAIL_SENDER=your_gmail@gmail.com
EMAIL_PASSWORD=your_gmail_app_password_here
EMAIL_RECIPIENT=your_personal_email@gmail.com
